//@theme "/usr/share/rofi/themes/gruvbox-dark.rasi"
@theme "/usr/share/rofi/themes/gruvbox-dark.rasi"

configuration {
 modi: "drun";
 font: "JetBrainsMono 12";
 combi-modi: "drun";
 }

prompt {
 enabled: false;
}