<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu>
<!-- Note: for localization support of menu items "client-menu" has to be removed here -->
<menu id="client-menu">
  <item label="Minimize">
    <action name="Iconify" />
  </item>
  <item label="Maximize">
    <action name="ToggleMaximize" />
  </item>
  <item label="Fullscreen">
    <action name="ToggleFullscreen" />
  </item>
  <item label="Roll up/down">
    <action name="ToggleShade" />
  </item>
  <item label="Decorations">
    <action name="ToggleDecorations" />
  </item>
  <item label="Always on Top">
    <action name="ToggleAlwaysOnTop" />
  </item>
  <!--
    Any menu with the id "workspaces" will be hidden
    if there is only a single workspace available.
  -->
  <menu id="workspaces" label="Workspace">
    <item label="Move left">
      <action name="SendToDesktop" to="left" />
    </item>
    <item label="Move right">
      <action name="SendToDesktop" to="right" />
    </item>
    <separator />
    <item label="Always on Visible Workspace">
      <action name="ToggleOmnipresent" />
    </item>
  </menu>
  <item label="Close">
    <action name="Close" />
  </item>
</menu>

<menu id="root-menu">
</menu>

<menu id="some-custom-menu">
<item label="  Search"><action name="Execute" command="wofi --show drun" /></item>
<separator />
<menu id="custom-apps" label="Apps">
  <item label="󰈹  Firefox"><action name="Execute" command="firefox" /></item>
  <item label="  Terminal"><action name="Execute" command="kitty" /></item>
  <item label="  Files"><action name="Execute" command="kitty ranger" /></item>
  <separator />
  <item label="󰙯  Discord"><action name="Execute" command="discord" /></item>
  <separator />
  <item label="󰓓  Steam"><action name="Execute" command="flatpak run com.valvesoftware.Steam"/></item>
   <item label="󰍳  Minecraft"><action name="Execute" command="prismlauncher" /></item>
  <separator />
  <item	label="󰨞  code"><action name="Execute" command="code-oss" /></item>
</menu>
<separator />
<menu id="system-apps" label="system">
<item label="󱠓  Theme"><action name="Execute" command="labwc-tweaks" /></item>
<item label="󰓃  Sound"><action name="Execute" command="pavucontrol" /></item>
</menu>
<separator />
  <item label="Power"><action name="Execute" command="wlogout -b 2" /></item>
</menu>
</openbox_menu>
