*{
  font-family: JetBrainsMono;
  padding: 1px 2px;
  color:ghostwhite;
}

window#waybar{
  font-size: 12px;
  color: ghostwhite;
  background-color: #1D2021;
}
#custom-music.Playing,
#custom-music.Paused,
#custom-music.Stopped,
#custom-logo,
#network,
#pulseaudio,
#tray,
#clock{
  margin: 3px;
  padding: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  font-size: 12px;
  background-color: #303233;
  border-radius: 8px;
  font-weight: bold;
}
#custom-logo{
  font-size: 25px;
  font-weight: normal;
}
#custom-music.Playing{
}
#custom-music.Paused,
#custom-music.Stopped{
}
#taskbar button.active{
    opacity: 1;
}
#taskbar button{
    opacity: 0.5;
}