*{
  font-family: JetBrainsMono;
  padding: 1px 2px;
  color:ghostwhite;
}

window#waybar{
  font-size: 12px;
  color: ghostwhite;
  background-color: #1D2021;
}

#network,
#pulseaudio,
#tray,
#clock{
  margin: 3px;
  padding: 5px;
  font-size: 12px;
  background-color: #303233;
  border-radius: 10px;
}

#custom-logo{
  font-size: 25px;
}
 
#clock{
  margin-right: 0px; 
}